<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<title>競馬予想システム</title>
</head>

<body>
	<header class="site-header">
		<div class="site-title">Steel Horse Run</div>

		<nav class="site-nav">
			<a th:href="@{/races}">レース一覧</a>
			<a th:href="@{/races/new}">レース登録</a>
		</nav>
	</header>

	<div class="container">
		<div class="container">
			<h1>競馬予想システム</h1>

			<div th:if="${race != null}">
				<h2 th:text="${race.raceName}">レース名</h2>

				<p>
					開催日：
					<span th:text="${race.raceDate}"></span>
				</p>

				<p>
					場所：
					<span th:text="${race.place}"></span>
					／ 距離：
					<span th:text="${race.distance}"></span>m
					／ コース：
					<span th:text="${race.surface}"></span>
				</p>

				<p>
					天気：
					<span th:text="${race.weather}"></span>
					／ 馬場状態：
					<span th:text="${race.trackCondition}"></span>
				</p>
			</div>

			<table border="1">
				<tr>
					<th>予想順位</th>
					<th>馬番</th>
					<th>馬名</th>
					<th>年齢</th>
					<th>性別</th>
					<th>騎手</th>
					<th>人気</th>
					<th>オッズ</th>
					<th>直近成績</th>
					<th>予想点数</th>
				</tr>

				<tr th:each="entry : ${entries}">
					<td th:text="${entry.predictionRank}"></td>
					<td th:text="${entry.horseNumber}"></td>
					<td th:text="${entry.horseName}"></td>
					<td th:text="${entry.age}"></td>
					<td th:text="${entry.sex}"></td>
					<td th:text="${entry.jockey}"></td>
					<td th:text="${entry.popularity}"></td>
					<td th:text="${entry.odds}"></td>
					<td th:text="${entry.recentResult}"></td>
					<td th:text="${entry.score}"></td>
				</tr>
			</table>

			<form th:action="@{/races/{raceId}/entries/new(raceId=${race.raceId})}" method="get">
				<button type="submit">出馬入力画面に戻る</button>
			</form>
			<form th:action="@{/races/new}" method="get">
				<button type="submit">レース登録画面に戻る</button>
			</form>
			<br>
			<form th:action="@{/races}" method="get">
				<button type="submit" class="btn btn-danger">レース一覧に戻る</button>
			</form>
		</div>
</body>

</html>